{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Genre Add{% endblock title %}

{% block content %}
<nav>
    <ul>
        <li>
            <a href="#">
               Home
            </a>
        </li>
        <li>
            <a href="#">
               Account
            </a>
        </li>
        {% if perms.manga_app.can_view_manga %}
            <li>
                <a href="#">
                Manage Manga
                </a>
                <div id="content" class="dropdown-nav-content" >
                    {% if perms.manga_app.can_add_manga %}
                        <a href={% url 'manga:manga_add' %}>Upload Manga</a>
                    {% endif %}

                    {% if perms.manga_app.can_add_genre and perms.manga_app.can_view_genre %}
                        <a href={% url 'manga:genre_add' %}>Add new genre</a>
                        <a href={% url 'manga:genre_list' %}>Genre list</a>
                    {% else %}
                    {% endif %}
                    <a href={% url 'manga:manga_uploaded' %}>Manga uploaded</a>
                </div>
            </li>
        {% else %}
            <li> 
                <a href={% url 'manga:favorite_list' %}>
                    Favorites Manga
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock content %}