{% extends "base_templates/base.html" %}
{% block title %}Register User{% endblock title %}

{% block content %}
<div class="container register">
    <div class="content">
        <div class="form-div">
            <form method="post">
                {% csrf_token %}
                <h2>Register</h2>
                <div class="form">
                    <div  class="inputs">
                        {{form_user.username.errors}}
                        <label>Username: </label>
                        {{form_user.username}}
                    </div>
            
                    <div  class="inputs">
                        {{form_user.email.errors}}
                        <label>Email: </label>
                        {{form_user.email}}
                    </div>
            
                    <div class="inputs">
                        {{form_user.first_name.errors}}
                        <label>First name: </label>
                        {{form_user.first_name}}
                    </div>
            
                    <div  class="inputs">
                        {{form_user.last_name.errors}}
                        <label>Last name: </label>
                        {{form_user.last_name}}
                    </div>
            
                    <div  class="inputs">
                        {{form_user.password1.errors}}
                        <label>Password: </label>
                        {{form_user.password1}}
                    </div>
            
                    <div  class="inputs">
                        {{form_user.password2.errors}}
                        <label>Password Confirm:: </label>
                        {{form_user.password2}}
                    </div>
            
                    <div class="button">
                        <input type="submit" value="Register" class="btn btn-primary btn-register">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}