{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Reading Manga List{% endblock title %}

{% block content %}
{% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
{% endfor %}
<div class="container">
    <div class="content">
        <div class="title">
            <h1>{{title}} Mangas - {{total_list}}</h1>
        </div>
        {% if manga_reading %}
            <div class="manga-list">
                <ul>
                    {% for manga in manga_reading %}
                        <li>{{manga.manga.name_manga}}</li>
                        <li>{{manga.manga.num_chapter}}</li>
                        <li> 
                            <a href={% url 'manga:manga_view' manga.manga.id_manga %}>
                                <img src="{{manga.manga.cover.url}}" width="320" height="454">
                            </a>  
                        </li>
                        <li>{{manga.manga.date_created}}</li> 
                    {% endfor %}
                </ul>
            </div>
        {% else %}

            <div class="manga-list">
                <h1>No manga</h1>
            </div>
        {% endif %}
       
    </div>
</div>



{% endblock content %}