{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Manga Add{% endblock title %}

{% block content %}
{% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
{% endfor %}
<div class="container">
    <div class="content content-manga-form">
        <div class="form-div">
            <form action="." method="POST" class="form" enctype="multipart/form-data">
                <h1>Add Manga</h1>
                {% csrf_token %}
                <div class="form-group">{{form_manga}}</div>
                <div class="button-add-div">
                    <input class="btn btn-primary btn-add" type="submit" value="Save Manga"/>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}