{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Manga Uploaded{% endblock title %}

{% block content %}
{% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
{% endfor %}
<div class="container">
    {% if mangas %}
        <div class="content content-manga-uploaded">
            <h3>Manga uploaded list</h3>
            <hr>
            <div class="manga-table table-responsive chapter-table">
                <table>
                    <thead>
                        <tr>
                            <th>Cover</th>
                            <th>Name</th>
                            <th>Last Chapter</th>
                            <th>Status</th>
                            <th>Date Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for manga in mangas %}
                        <tr>
                            <td><img src="{{manga.cover.url}}" ></td>
                            <td>{{manga.name_manga}}</td>
                            <td>
                                {% if last %}
                                    {% for l in last %}
                                        {% if manga.id_manga == l.manga.id_manga %}
                                            {{l}}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>{{manga.status}}</td>
                            <td>{{manga.date_created|date:"D d M Y"}}</td>
                            <td>
                                <div class="links">
                                    {% if perms.manga_app.change_manga and perms.manga_app.delete_manga%}
                                        <a href={% url 'chapter:chapter_list' manga.id_manga %}>Chapters</a>
                                        <a href={% url 'manga:manga_edit' manga.id_manga %}>Edit</a>
                                        <a href={% url 'manga:manga_delete' manga.id_manga %}>Delete</a>
                                    {% endif %} 
                                </div>
                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="div-pagination">
            <div class="pagination-content">
                <div class="pagination">
                    {% if mangas.has_previous %}
                        <li class="page-item">
                            <a href="{% url 'manga:manga_uploaded'%}?limit{{qnt_page}}&page={{mangas.previous_page_number}}" class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled" >
                            <a href="#" class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                    {% endif %}

                    {% for num in mangas.paginator.page_range %}
                    {% if num == mangas.number %}
                        <li class="page-item active">
                        <a href="#" class="page-link">{{num}}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                        <a href="{% url 'manga:manga_uploaded' %}?limit{{qnt_page}}&page={{num}}" class="page-link">{{num}}</a>
                        </li>
                    {% endif %}
                    {% endfor %}

                    {% if mangas.has_next %}
                        <li class="page-item">
                        <a href="{% url 'manga:manga_uploaded' %}?limit{{qnt_page}}&page={{mangas.next_page_number}}" class="page-link">Next</a>
                        </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a href="" class="page-link">Next</a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="content content-manga-uploaded">
            <div class="manga-table">
                <h3>No exists</h3>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}