{% load static %}
{% load tz %}

{% include "partials/head.html" %}

{% block content %}
{% include "partials/message.html" %}
<div class="container">
    <div class="content content-manga-info">
        <div class="manga-info">
            <div class="manga-info-content">
                <div class="img-div">
                    <img src="{{manga.cover.url}}">
                    {% if perms.manga_app.add_favoritemanga %}
                        {% if favorites %}
                            {% if favorites.manga.id_manga == manga.id_manga %}
                                <div class="button-remove">
                                    <a class="btn btn-dark btn-remove-favorite" id="btn-remove" data-remove="{{manga.id_manga}}">
                                        Remove from list
                                        <i class="fa-solid fa-heart-crack"></i>
                                    </a>
                                </div>
                            {% endif %} 
                        {% else %}
                            <div class="button-add">
                                <a class="btn btn-dark btn-favorite" id="btn-favorite" data-favorite="{{manga.id_manga}}">
                                    Add to favorite list
                                    <i class="fa-solid fa-heart"></i>
                                </a>
                            </div>
                        {% endif %}
                    
                    {% endif %}
                </div>

                <div class="manga-info-div">
                    <h2>{{manga.name_manga}}</h2>
                    <hr>
                    <span><strong>Chapters: </strong>{{manga.num_chapter}}</span>
                    <span><strong>Author :</strong>{{manga.author}}</span>
                    <span><strong>Views: </strong>{{manga.views_manga}}</span>
                    <span><strong>Status: </strong>{{manga.status}}</span>
                    <span><strong>Added: </strong>{{manga.date_created|date:"D d M Y"}}</span>
                    <span><strong>Genre: </strong>
                        {% for genre in manga_genre %}
                            <span class="span-list">{{genre}}</span>
                            
                        {% endfor %}
                    </span>
                    <div class="description">
                        <h3>Description</h3>
                        <p>{{manga.description}}</p>
                    </div>
                </div>
            </div> 
        </div>
        
        <div class="more-info"> 
            <div class="manga-review">   
                <h3>{{average}} <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i></h3>
                {% if average %}
                    <div class="stars-div">
                        {% if average >= 0 and average <= 1.99 %}
                            {% if average >= 1.5 %}
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star-half-stroke"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                
                            {% else %}
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                
                            {% endif %}
                        {% elif average >= 2 and average <= 2.99 %}
                            {% if average >= 2.5 %}
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star-half-stroke"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                            {% else %}
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                            {% endif %}
                        
                        {% elif average >= 3 and average <= 3.99 %}
                            {% if average >= 3.5 %}
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star-half-stroke"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                            {% else %}
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                            {% endif %}        
                        {% elif average >= 4 and average <= 4.99 %}
                            {% if average >= 4.5 %}
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star-half-stroke"></i>
                            {% else %}
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                                <i style="color: rgb(233, 233, 54);" class="fa-regular fa-star"></i>
                            {% endif %}
                        {% elif average == 5 %}
                            <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                            <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                            <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                            <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                            <i style="color: rgb(233, 233, 54);" class="fa-solid fa-star"></i>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="total-review">
                    {% if reviews %}
                        <span>
                            Has a total of {{reviews}} reviews!
                        </span>
                    {% endif %}
                </div>
            </div>
            {% if perms.manga_app.add_reviewmanga %}
            <div class="add-review">
                <form action="" method="GET">
                    <legend>Review</legend>
                    <select data-review={{manga.id_manga}} id="select" name="select">
                        {% if re_sel %}
                            <option value="null">Select</option>
                            <option value="masterpiece" {% if re_sel.review == 5 %}selected{% endif %}>Masterpiece</option>
                            <option value="good" {% if re_sel.review == 4 %}selected{% endif %}>Good</option>
                            <option value="average" {% if re_sel.review == 3 %}selected{% endif %}>Average</option>
                            <option value="bad" {% if re_sel.review == 2 %}selected{% endif %}>Bad</option>
                            <option value="horrible" {% if re_sel.review == 1 %}selected{% endif %}>Horrible</option> 
                        {% else %}
                            <option value="null">Select</option>
                            <option value="masterpiece">Masterpiece</option>
                            <option value="good">Good</option>
                            <option value="average">Average</option>
                            <option value="bad">Bad</option>
                            <option value="horrible">Horrible</option>
                        {% endif %}    
                    </select>
                </form>
            </div>
            
            

            <div class="manga-status">         
                {% if status %}
                    <form action="" method="GET">
                        <legend>Status Manga</legend>
                        <select data-status={{manga.id_manga}} name="status" id="status">
                            <option value="not_read" {% if status.status == 'not_read' %}selected{% endif %}>Not Read</option>
                            <option value="reading"{% if status.status == 'reading' %}selected{% endif %}>Reading</option>
                            <option value="plan_to_read"{% if status.status == 'plan_to_read' %}selected{% endif %}>Plan to Read</option>
                            <option value="dropped"{% if status.status == 'dropped' %}selected{% endif %}>Dropped</option>
                            <option value="completed"{% if status.status == 'completed' %}selected{% endif %}>Completed</option>
                        </select>
                    </form>
                {% else %}
                    <form action="" method="GET">
                        <legend>Status Manga</legend>
                        <select data-status={{manga.id_manga}} name="status" id="status">
                            <option value="not_read">Not Read</option>
                            <option value="reading">Reading</option>
                            <option value="plan_to_read">Plan to Read</option>
                            <option value="dropped">Dropped</option>
                            <option value="completed">Completed</option>
                        </select>
                    </form>
                {% endif %}
                
                </div>
            {% endif %}
        </div>
        <hr>
    
        
        
        
        {% include "partials/chapters_list.html" %}
        {% include "partials/comments_list.html" %}
        {% include "partials/comments_form.html" %}
    </div>
</div>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $("a#btn-delete").on("click", function (e){
            e.preventDefault();

            var comment_id = $(this).attr("data-delete");
            console.log(comment_id)

            $.ajax({
                type: 'GET',
                url: '{% url "comment:comment_delete" %}',
                data: {'comment_id': comment_id},
                datatype: "json",
                success: function(data){
                    console.log(data)
                    if(data.status == "delete"){
                        $(".comment-div#" + comment_id).fadeOut("slow", function(){
                            $(".comment-div#" + comment_id).remove();
                            location.reload()
                            
                        })
                    }else{
                        console.log("Erro")
                    }
                }
            })
        })

        $("a.comment").click(function () {
    
            var data_id = $(this).attr("data-comment");
    
            $("form#form-comment" + data_id).removeClass('d-none')
            $("a#comment" + data_id).addClass('d-none')
    
            $('button#edit' + data_id).on("click", function (e) {
                e.preventDefault();
                
                comment = $('input#inputText'+ data_id).val();
        
                $.ajax({
                    type: 'GET',
                    url: '{% url "comment:comment_edit" %}',
                    data: {'data_id': data_id,'comment': comment,},
                    datatype: "json",
                    success: function (data) {
                        if (data.status == "update-item") {
                            $("form#form-comment" + data_id).addClass('d-none');
                            $("a#comment" + data_id).removeClass('d-none'); 
                            $("#comment" + data_id).html(data.comment); 
                        }  
                    }
                }); 

            });
        });

        $('a#btn-favorite').on("click", function(e){
            e.preventDefault();

            manga_id = $(this).attr("data-favorite");
            console.log(manga_id)

            $.ajax({
                type: 'GET',
                url: '{% url "manga:favorite_manga" %}',
                data: {'manga_id': manga_id},
                datatype: "json",
                success: function(data){
                    console.log(data)
                    if(data.status == "favorite"){
                        alert("Added")
                        $("a#btn-favorite").html("Remove from list"); 
                        location.reload()
                    }else if (data.status == "exists"){
                        alert("Erro")
                    }
                }
            })
        })

        $('a#btn-remove').on("click", function(e){
            e.preventDefault();
            manga_id = $(this).attr("data-remove");
            console.log(manga_id)

            $.ajax({
                type: 'GET',
                url: '{% url "manga:favorite_remove" %}',
                data: {'manga_id': manga_id},
                datatype: "json",
                success: function(data){
                    console.log(data)
                    if(data.status == "removed"){
                        alert("Removed from list!")
                        $("a#btn-remove").html("Add to favorite list");
                        location.reload()
                    }
                }
            })
        })

        var review = $('#select').find(":selected").val();
        $(document).on('change','#select' ,function(e){
            e.preventDefault();
            var val = $('#select option:selected').val();
            var text = $('#select option:selected').text();
            var manga_id = $(this).attr("data-review");
            $.ajax({
                type: "GET",
                url: '{% url "manga:manga_review" %}',
                data: {'manga_id': manga_id, 'text': text},
                datatype: "json",
                success: function(data, url){
                    console.log(data, url)
                    if(data.status == "review"){
                        alert("Reviewed")
                        location.reload()
                    }else if (data.status == "changed"){
                        alert("Reviewe changed!")
                    }
                }
            })
          })

          var status = $("#status").find(":selected").val();
          $(document).on("change", "#status", function(e){
            e.preventDefault();

            var status_val = $("#status option:selected").val();
            var manga_id = $(this).attr("data-status");
            $.ajax({
                type:'GET',
                url: '{% url "manga:manga_status"  %}',
                data: {'status_val':status_val, 'manga_id':manga_id },
                datatype: "json",
                success: function(data){
                    console.log(data)
                    if(data.status == "added"){
                        alert("Added to ")
                        location.reload()
                    }else if(data.status == "changed"){
                        alert("Changed to ")
                        location.reload()
                    }
                }
            })
          })

    </script>
{% endblock content %}