{% load static %}

{% include "partials/head.html" %}

{% block content %}
{% include "partials/message.html" %}
    <ul>
        <li>{{manga.name_manga}}</li>
        <li>{{manga.name_in_japanese}}</li>
        <li>{{manga.name_in_english}}</li>
        <li>{{manga.num_chapter}}</li>
        <li> 
            <img src="{{manga.cover.url}}" >
        </li>
        <li>{{manga.author}}</li>
        <li>{{manga.status}}</li>
        <li> {{manga.views_manga}}</li>
        <li>{{manga.description}}</li>
        <li>{{manga.date_created}}</li>
        <li>
            {% for genre in manga_genre %}
                {{genre}}
            {% endfor %}
        </li>
    </ul>
    <div>
        
        <legend>Score <i class="fa-solid fa-star"></i></legend>
        <h3>{{average}} </h3>

        <div>
            {% if average %}
                {% if average >= 0 and average <= 1.99 %}
                    {% if average >= 1.5 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    {% else %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    {% endif %}
                {% elif average >= 2 and average <= 2.99 %}
                    {% if average >= 2.5 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    {% else %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    {% endif %}
                    
                {% elif average >= 3 and average <= 3.99 %}
                    {% if average >= 3.5 %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    {% else %}
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    {% endif %}
                   
                {% elif average >= 4 and average <= 4.99 %}
                {% if average >= 4.5 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                {% else %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% endif %}
                {% elif average == 5 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                {% endif %}
            {% endif %}
        </div>
        {% if reviews %}
            <span>
                Has a total of {{reviews}} reviews!
            </span>
        {% endif %}

    </div>
    <hr>

    {% if perms.manga_app.add_reviewmanga %}
        <div>
            <form action="" method="GET">
                <legend>Review</legend>
                <select data-review={{manga.id_manga}} id="select" name="select">
                    {% if re_sel %}
                        {% if  re_sel.review == 1 %}
                            <option value="null">Select</option>
                            <option value="masterpiece">Masterpiece</option>
                            <option value="good">Good</option>
                            <option value="average">Average</option>
                            <option value="bad">Bad</option>
                            <option selected value="horrible">Horrible</option>
                        {% elif re_sel.review == 2 %}
                            <option value="null">Select</option>
                            <option value="masterpiece">Masterpiece</option>
                            <option value="good">Good</option>
                            <option value="average">Average</option>
                            <option selected value="bad">Bad</option>
                            <option value="horrible">Horrible</option>
                        {% elif re_sel.review == 3 %}
                            <option value="null">Select</option>
                            <option value="masterpiece">Masterpiece</option>
                            <option value="good">Good</option>
                            <option selected value="average">Average</option>
                            <option value="bad">Bad</option>
                            <option value="horrible">Horrible</option>
                        {% elif re_sel.review == 4 %}
                            <option value="null">Select</option>
                            <option value="masterpiece">Masterpiece</option>
                            <option selected value="good">Good</option>
                            <option value="average">Average</option>
                            <option value="bad">Bad</option>
                            <option value="horrible">Horrible</option>
                        {% elif re_sel.review == 5 %}
                            <option value="null">Select</option>
                            <option selected value="masterpiece">Masterpiece</option>
                            <option value="good">Good</option>
                            <option value="average">Average</option>
                            <option value="bad">Bad</option>
                            <option value="horrible">Horrible</option>
                        {% else %}
                            <option value="null">Select</option>
                            <option value="masterpiece">Masterpiece</option>
                            <option value="good">Good</option>
                            <option value="average">Average</option>
                            <option value="bad">Bad</option>
                            <option value="horrible">Horrible</option>
                       
                        
                        {% endif %}
                    {% else %}
                        <option value="null">Select</option>
                        <option value="masterpiece">Masterpiece</option>
                        <option value="good">Good</option>
                        <option value="average">Average</option>
                        <option value="bad">Bad</option>
                        <option value="horrible">Horrible</option>
                    {% endif %}    
                </select>
            </form>
            {% comment %} <p class="result"></p> {% endcomment %}
            <div class="output d-none">
                <div id="ajaxprogress">
                    <h6>Loading</h6>
                    <img src="{% static "/imgs/load.gif" %}" alt="load" />
                </div>
            </div>
        </div>
    {% endif %}
   
    {% if perms.manga_app.add_favoritemanga %}
        {% if favorites %}
            {% if favorites.manga.id_manga == manga.id_manga %}
                <div>
                    <a class="btn btn-dark" id="btn-remove" data-remove="{{manga.id_manga}}">Remove from list</a>
                </div>
            {% endif %} 
        {% else %}
            <div>
                <a class="btn btn-dark" id="btn-favorite" data-favorite="{{manga.id_manga}}">Add to favorite list</a>
            </div>
        {% endif %}
       
    {% endif %}
    
    {% include "partials/chapters_list.html" %}
   
    {% include "partials/comments_list.html" %}
    
   {% include "partials/comments_form.html" %}
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $("a#btn-delete").on("click", function (e){
            e.preventDefault();

            var comment_id = $(this).attr("data-delete");
            console.log(comment_id)

            $.ajax({
                type: 'GET',
                url: '{% url "comment:comment_delete" %}',
                data: {'comment_id': comment_id},
                datatype: "json",
                success: function(data){
                    console.log(data)
                    if(data.status == "delete"){
                        $("ul#" + comment_id).fadeOut("slow", function(){
                            $("ul#" + comment_id).remove();
                        })
                    }else{
                        console.log("Erro")
                    }
                }
            })
        })

        $("a.comment").click(function () {
    
            var data_id = $(this).attr("data-comment");
    
            $("form#form-comment" + data_id).removeClass('d-none')
            $("a#comment" + data_id).addClass('d-none')
    
            $('button#edit' + data_id).on("click", function (e) {
                e.preventDefault();
                
                comment = $('input#inputText'+ data_id).val();
        
                $.ajax({
                    type: 'GET',
                    url: '{% url "comment:comment_edit" %}',
                    data: {'data_id': data_id,'comment': comment,},
                    datatype: "json",
                    success: function (data) {
                        if (data.status == "update-item") {
                            $("form#form-comment" + data_id).addClass('d-none');
                            $("a#comment" + data_id).removeClass('d-none'); 
                            $("#comment" + data_id).html(data.comment); 
                        }  
                    }
                }); 

            });
        });

        $('a#btn-favorite').on("click", function(e){
            e.preventDefault();

            manga_id = $(this).attr("data-favorite");
            console.log(manga_id)

            $.ajax({
                type: 'GET',
                url: '{% url "manga:favorite_manga" %}',
                data: {'manga_id': manga_id},
                datatype: "json",
                success: function(data){
                    console.log(data)
                    if(data.status == "favorite"){
                        alert("Added")
                        $("a#btn-favorite").html("Remove from list"); 
                        location.reload()
                    }else if (data.status == "exists"){
                       alert("Erro")
                    }
                }
            })
        })

        $('a#btn-remove').on("click", function(e){
            e.preventDefault();
            manga_id = $(this).attr("data-remove");
            console.log(manga_id)

            $.ajax({
                type: 'GET',
                url: '{% url "manga:favorite_remove" %}',
                data: {'manga_id': manga_id},
                datatype: "json",
                success: function(data){
                    console.log(data)
                    if(data.status == "removed"){
                        alert("Removed from list!")
                        $("a#btn-remove").html("Add to favorite list");
                        location.reload()
                    }
                }
            })
        })

        var review = $('#select').find(":selected").val();
        console.log(review)

        $(document).on('change','#select' ,function(e){
            e.preventDefault();
            var val = $('#select option:selected').val();
            var text = $('#select option:selected').text();
            var manga_id = $(this).attr("data-review");
            //$('.result').text("Select Value = " + val);
            //$('.result').append("<br>Select Text = " + text);

            console.log(text)
            console.log(manga_id)
            $('#ajaxprogress').remove('d-none');
            $.ajax({
                type: "GET",
                url: '{% url "manga:manga_review" %}',
                data: {'manga_id': manga_id, 'text': text},
                datatype: "json",
                success: function(data, url){
                    console.log(data, url)
                    if(data.status == "review"){
                        $('#ajaxprogress').remove('d-none');
                        alert("Reviewed")
                        location.reload()
                    }else if (data.status == "changed"){
                        $('#ajaxprogress').addClass('d-none');
                        alert("Reviewe changed!")
                    }
                }
            })
          })
    </script>
{% endblock content %}