{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Manga List{% endblock title %}

{% block content %}
{% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
{% endfor %}
<div class="title">
    <div class="search">
        <form action="">
          <input type="text" placeholder="Search Manga here...">
          <button>Search</button>
        </form>
    </div>
    <h1>Manga list</h1>
    <div>
      <div>
        <form action="" method="get">
          <input type="submit" name="JP" value="JP">
          <input type="submit" name="PT-BR" value="PT-BR">
          <input type="submit" name="ENG" value="ENG">
          <input type="submit" name="ALL" value="ALL">
        </form>
      </div>
    </div>
</div>
{% if mangas %}
  {% for manga in mangas %}
    <div>
      <ul>
          <li>{{manga.name_manga}}</li>
          <li>{{manga.num_chapter}}</li>
          <li> 
              <a href={% url 'manga:manga_view' manga.id_manga %}>
                  <img src="{{manga.cover.url}}" width="320" height="454">
              </a>  
          </li>
          <li>{{manga.date_created}}</li> 
          <li>{{manga.updated_at}}</li>
          {% for l in last %}
              {% if manga.id_manga == l.manga.id_manga%}
                  <li>{{l}} - {{l.updated_at}}</li>      
              {% endif %}    
          {% endfor %}
      </ul>
    </div> 
  {% endfor %}
{% else %}
    <h5>No register</h5>
{% endif %}
{% endblock content %}