{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Manga edit{% endblock title %}

{% block content %}
<div class="container">
    <div class="content content-manga-form">
        <div class="form-div">
            <form method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{form_manga}}
                </div>
                <div class="button-add-div">
                    <input class="btn btn-primary btn-add" type="submit" value="Save changes"/>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}