{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Genre List{% endblock title %}

{% block content %}
{% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
{% endfor %}
<div class="container">
    <div class="content">
        <div class="title">
            <h2>Genre list</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Genre</th>
                    <th>Date Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
        
            <tbody>
        
        
        {% for genre in genres %}
            <tr>
                <td>{{genre.name_genre}}</td>
                <td>{{genre.date_created}}</td>
                <td>
                    {% if perms.genre.can_edit_genre and perms.genre.can_delete_genre %}
                        <a href={% url 'manga:genre_edit' genre.id_genre %}>Edit</a>
                        <a href={% url 'manga:genre_delete' genre.id_genre %}>Delete</a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        
        {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}