{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Genre List{% endblock title %}

{% block content %}
{% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
{% endfor %}
<div class="container">
    <div class="content content-manga-uploaded">
        <h3>Genre list</h3>
        <hr>
        <div class="manga-table table-responsive genre-table">
            <table>
                <thead>
                    <tr>
                        <th>Genre</th>
                        <th>Date Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genre in genres %}
                        <tr>
                            <td>{{genre.name_genre}}</td>
                            <td>{{genre.date_created}}</td>
                            <td>
                                <div class="links">
                                    {% if perms.manga_app.change_genre and perms.manga_app.delete_genre %}
                                    <a href={% url 'manga:genre_edit' genre.id_genre %}>Edit</a>
                                    <a href={% url 'manga:genre_delete' genre.id_genre %}>Delete</a>
                                {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}