{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Homepage{% endblock title %}

{% block content %}
      {% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{msg}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
      {% endfor %}
    <div class="container">
      <div class="content">
        <h1>Popular Manga</h1>
        {{form_reply}}
      </div>
    </div>
   
{% endblock content %}