{% extends "base_templates/base.html" %}
{% load static %}
{% load tz %}
{% block title %}MangaCats - Homepage{% endblock title %}

{% block content %}
{% for msg in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
  </div>
{% endfor %}
<div id="container" class="container">
  <div class="title">
    <div class="search">
      <form action="." method="GET">
        <input type="text" name="search" placeholder="Search Manga here...">
        <button>Search</button>
      </form>
    </div>
    {% if language %}
      <h1>Popular Manga - {{language}}</h1>
    {% else %}
      <h1>Popular Manga - ALL</h1>
    {% endif %}
   
    <div class="form-container">
      <div class="form-content">
        <form action="" method="get">
          <input type="submit" name="JP" value="JP">
          <input type="submit" name="PT-BR" value="PT-BR">
          <input type="submit" name="ENG" value="ENG">
          <input type="submit" name="ALL" value="ALL">
        </form>
      </div>
    </div>
  </div>

  <div id="content" class="content content-popular">
    {% if mangas %}
        <div class="manga-list">
        <div class="row">
          {% for manga in mangas %}
            <div class="col-md-4">
              <a href={% url 'manga:manga_view' manga.id_manga %}>
                <div class="card">
                  <img src="{{manga.cover.url}}">
                  <div class="info">
                    <h2>{{manga.name_manga}}</h2>
                    <p>Chapters:{{manga.num_chapter}}</p>
                    <p>Views:{{manga.views_manga}} </p>
                    <p>Created at:{{manga.date_created|date:"D d M Y"}}</p>
                    {% for l in last %}
                    {% if manga.id_manga == l.manga.id_manga%}
                      <p>Last chapter: {{l}} - {{l.updated_at|timesince}}</p> 
                    {% endif %}  
                  {% endfor %}
                  </div>
                </div>
              </a> 
            </div>
        {% endfor %}
        </div>
        
        </div>
        <div class="div-pagination">
            <div class="pagination-content">
              <div class="pagination">
                {% if mangas.has_previous %}
                  <li class="page-item">
                    <a href="{% url 'home:home'%}?limit{{qnt_page}}&page={{mangas.previous_page_number}}" class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                {% else %}
                  <li class="page-item disabled" >
                    <a href="#" class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                {% endif %}

                {% for num in mangas.paginator.page_range %}
                  {% if num == mangas.number %}
                    <li class="page-item active">
                      <a href="#" class="page-link">{{num}}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a href="{% url 'home:home' %}?limit{{qnt_page}}&page={{num}}" class="page-link">{{num}}</a>
                    </li>
                  {% endif %}
                {% endfor %}

                {% if mangas.has_next %}
                    <li class="page-item">
                      <a href="{% url 'home:home' %}?limit{{qnt_page}}&page={{mangas.next_page_number}}" class="page-link">Next</a>
                    </li>
                {% else %}
                  <li class="page-item disabled">
                    <a href="" class="page-link">Next</a>
                  </li>
                {% endif %}
              </div>
            </div>
        </div>
    {% else %}
      <h5>No register</h5>
    {% endif %}
  </div>
</div>
{% endblock content %}