{% if chapters %}
    <div class="chapter-list">
        <legend>List Chapters</legend>
        <ul>
        {% for chapter in chapters %}
                <li>
                    <a href={% url 'chapter:page_list' chapter.id_chapter %}>
                        {{chapter.name_chapter}}
                    </a>
                </li>
        {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="chapter-list">
        <div class="no-exists">
            <h3>Not Exists Chapters</h3>
        </div>
    </div>
    
{% endif %}