<div class="comment-section">
    <h3>Comments ({{total_comments}})</h3>
    <hr>
    {% for comment in comments %}
        <div id="{{comment.id_comment}}" class="comment-div mt-2">
            <div class="comment-content">
                <div class="comment-header">
                    {% if comment.user.profile.image_profile %}
                    <div class="comment-user">
                        <img src="{{comment.user.profile.image_profile.url}}" alt="">
                    </div>
                    {% else %}
                        <div class="comment-user">
                            {% load static %}   <img style="object-fit: cover;border-radius:50%" width="50" height="50" src="{% static "/imgs/placeholder.jpg" %}" alt="load">
                        </div>
                    {% endif %} 
                    <span>{{comment.user}}</span>
                </div>

                <div class="comment-body">
                    <div class="comment-text">
                        <li class="comment" id="comment{{comment.id_comment}}" data-comment="{{comment.id_comment}}">{{comment.comment|safe}}</li>
                    </div>

                    <div class="comment-date">
                        <span>{{comment.date_created|timesince}}</span>
                    </div>
                </div>

                <div class="comment-options">
                    {% if user.is_authenticated and request.user == comment.user%}
                        <a class="comment btn-edit" id="comment{{comment.id_comment}}" data-comment="{{comment.id_comment}}">
                            Edit
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <form class="d-none d-flex" class="form" id="form-comment{{comment.id_comment}}" method="GET">
                            <div class="form-input">
                                <input class="form-control" class="edit" type="text" id="inputText{{comment.id_comment}}" value="{{comment.comment|safe}}">
                                <button type="submit" class="btn btn-warning btn-edit" id="edit{{comment.id_comment}}">Save Changes</i></button>
                            </div>
                            
                        </form>
                    {% endif %}

                    {% if user.is_authenticated and request.user.is_staff or request.user == comment.user %}
                        <a class="btn-delete" id="btn-delete" data-delete="{{comment.id_comment}}">
                            Delete
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    {% endif %}
                        <a class="btn-reply" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{comment.id_comment}}" aria-expanded="false" aria-controls="collapseExample{{comment.id_comment}}">
                            Reply
                            <i class="fa-solid fa-reply"></i>
                        </a>
                </div>

                <div class="reply-div">
                    <div class="collapse comment-form-div" id="collapseExample{{comment.id_comment}}">
                        <div class="card card-body comment-form mt-3">
                            <form  method="POST" class="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{form_comment.comment.errors}}
                                    <label for="">Comment:</label>
                                    {{form_comment.comment}}
                                </div>
                                <div class="btn-comment-div">
                                    <input type="hidden" name="parent_id" value="{{ comment.id_comment }}">
                                    <input class="btn btn-primary btn-comment" type="submit" value="Reply">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="{{comment.id_comment}}" class="comment-container">
                {% if comment.replies.all %}
                    <h4>Replies</h4>          
                {% endif %}
                {% for reply in comment.replies.all %}
                    <div id="{{reply.id_comment}}" class="comment-div  comment-div-replies">
                        <div class="comment-content">
                            <div class="comment-header">
                                {% if reply.user.profile.image_profile %}
                                    <div class="comment-user">
                                        <img style="object-fit: cover;border-radius:50%" width="50" height="50" src="{{reply.user.profile.image_profile.url}}" alt="">
                                    </div>
                                {% else %}
                                    <div class="comment-user">
                                        {% load static %}   <img style="object-fit: cover;border-radius:50%" width="50" height="50" src="{% static "/imgs/placeholder.jpg" %}" alt="load" />
                                    </div>
                                {% endif %}
                                <span>{{reply.user}}</span>
                            </div>
                            <div class="comment-body">
                                <div class="comment-text">
                                    <li class="comment" id="comment{{reply.id_comment}}" data-comment="{{reply.id_comment}}">{{reply.comment|safe}}</li>
                                </div>
                                <div class="comment-date">
                                    <span>{{reply.date_created|timesince}}</span>
                                </div>
                            </div>
                            <div class="comment-options">
                                {% if user.is_authenticated and request.user == reply.user%}
                                    <a class="comment btn-edit" id="comment{{reply.id_comment}}" data-comment="{{reply.id_comment}}">
                                        Edit
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <form class="d-none d-flex form-edit" class="form" id="form-comment{{reply.id_comment}}" method="GET">
                                        <div class="form-input">
                                            <input class="form-control" class="edit" type="text" id="inputText{{reply.id_comment}}" value="{{reply.comment|safe}}">
                                            <button type="submit" class="btn btn-warning btn-edit" id="edit{{reply.id_comment}}">Save Changes</i></button>
                                        </div>
                                    </form>
                                {% endif %}

                                {% if user.is_authenticated and request.user.is_staff or request.user == reply.user %}
                                    <a class="btn-delete" id="btn-delete" data-delete="{{reply.id_comment}}">
                                        Delete
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <div class="comment-div" style="text-align:center;">
            <h4>There are no comments yet.</h4>
        </div>
    {% endfor %}
</div>
{% if comments %}
    <div class="div-pagination">
        <div class="pagination-content">
            <div class="pagination">
            {% if comments.has_previous %}
                <li class="page-item">
                <a href="{% url 'chapter:page_list' page_id %}?limit{{qnt_page}}&page={{comments.previous_page_number}}" class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled" >
                <a href="#" class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}

            {% for num in comments.paginator.page_range %}
                {% if num == comments.number %}
                    <li class="page-item active">
                        <a href="#" class="page-link">{{num}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="{% url 'chapter:page_list' page_id %}?limit{{qnt_page}}&page={{num}}" class="page-link">{{num}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if comments.has_next %}
                <li class="page-item">
                    <a href="{% url 'chapter:page_list' page_id %}?limit{{qnt_page}}&page={{comments.next_page_number}}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                <a href="" class="page-link">Next</a>
                </li>
            {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% if pages %}
    {% include "partials/comment_form.html" %}
{% endif %}



