{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Favorite Manga List{% endblock title %}

{% block content %}
{% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
{% endfor %}
<div class="container">
    <div class="content history-list">
        {% if mangas %}
            <div class="manga-list">
                <h4>Favorite mangas - {{total_list}}</h4>
                <hr style="color:#a9a17a;">
                <div class="row">
                    {% for manga in mangas %}
                        <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
                            <div class="card-favorite">
                                <a href={% url 'manga:manga_view' manga.manga.id_manga %}>
                                    <div class="card">
                                        <img src="{{manga.manga.cover.url}}">
                                        <div class="info">
                                            <h2>{{manga.manga.name_manga}}</h2>
                                            <p>Chapters: {{manga.manga.num_chapter}}</p>
                                            <p>Views:{{manga.manga.views_manga}} </p>
                                            <p>Added: {{manga.manga.date_created|date:"D d M Y"}}</p>
                                        </div>
                                    </div>
                                </a>
                                {% if user.is_authenticated %}
                                    <div class="favorite-div">
                                        <a class="btn btn-dark btn-favorite" id="btn-remove" data-remove="{{manga.manga.id_manga}}">Remove from list</a>
                                    </div>
                                {% endif %}
                            </div>
                            
                        </div> 
                    {% endfor %}
                </div>
            </div>
        
        {% else %}
            <h5>No register</h5>
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('a#btn-remove').on("click", function(e){
        e.preventDefault();
        manga_id = $(this).attr("data-remove");
        console.log(manga_id)

        $.ajax({
            type: 'GET',
            url: '{% url "manga:favorite_remove" %}',
            data: {'manga_id': manga_id},
            datatype: "json",
            success: function(data){
                console.log(data)
                if(data.status == "removed"){
                    alert("Removed from list!")
                    location.reload()
                }
            }
        })
    })
</script>

{% endblock content %}