
  <header>
    <nav class="nav_bar">
      <ul class="nav-links">
        <li>
          <h2><a href="#">Logo</a></h2>
        </li>
        <li><a href={% url 'home:home' %}>Manga Popular</a></li>
        <li><a href={% url 'manga:manga_list' %}>MangaList</a></li>
        <li><a href={% url 'manga:genre' %}>Genre</a></li>
        {% if user.is_authenticated%}
          <li><a href={% url 'manga:manga_history' %}>History</a></li>
          <li><a href={% url 'user:logout' %}>Logout</a></li>
          <li><a href={% url 'user:account' %}>Profile</a></li>
        {% else %}
          <li><a href={% url 'user:login' %}>Login</a></li>
          <li><a href={% url 'user:register' %}>Register</a></li>
        {% endif %}
       
      </ul>
    </nav>
  </header>