{% extends 'base_templates/base.html' %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="container reset">
	<div class="content">
		<div class="form-div">
			<div class="msg">
				<h2 class="font-weight-bold mt-3">Reset Password</h2>
				<hr>
				<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
			</div>
			<form method="POST">
				{% csrf_token %}
				<div class="form">
					{{ password_reset_form}}  
					<input type="submit" value="Send email" class="btn btn-primary btn-reset">
				</div>              
			</form>
		</div>
	</div>
</div>
{% endblock %}