{% extends 'base_templates/base.html' %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block content %}

  <!--Password Reset Confirm-->
    <div class="container reset-confirm">
        <div class="content">
            <div class="form-div">
                <div class="msg">
                    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
                    <hr>
                    <p>Please enter your new password.</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form">
                        {{form}}                    
                        <input type="submit" value="Reset password" class="btn btn-primary btn-reset">
                    </div>
                   
                </form>
            </div>
        </div>
	   
       
    </div>

{% endblock %}