{% extends "base_templates/base.html" %}
{% block title %}MangaCats - Read{% endblock title %}

{% block content %}
{% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
        </div>
{% endfor %}
<div class="container">
    <div class="content content-manga-uploaded">
        <h3>Pages list</h3>
        <hr>
        {% if pages %}
        <div class="manga-table">
            <table>
                <thead>
                    <tr>
                        <th>Chapter</th>
                        <th>Page</th>
                        <th>Link</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{page.chapter_name}}</td>
                        <td><img src="{{page.image_chapter}}" width="320" height="454" ></td>
                        <td>{{page.image_chapter}}</td>
                        <td>
                            <div class="links">
                                {% if perms.page.can_edit_page and perms.page.can_delete_page %}
                                    <a href={% url 'chapter:page_edit' page.id_img %}>Edit</a>
                                    <a href={% url 'chapter:page_delete' page.id_img %}>Delete</a>
                                {% endif %} 
                            </div>
                        </td>
                    </tr>   
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="manga-table">
            <h3>No exists</h3>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}